workflows/credit_lookup.workflow.json
{
  "name": "TradeGuard_Credit_Lookup",
  "nodes": [
    {
      "parameters": {
        "path": "tradeguard-credit-lookup",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook_credit",
      "name": "Credit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 240]
    },
    {
      "parameters": {
        "url": "={{$env.SEC_TICKERS_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{$env.SEC_USER_AGENT}}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "http_sec_tickers",
      "name": "SEC Ticker Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 240]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Credit Webhook').first().json.body ?? {}; const searchName = String(body.company_name ?? '').toUpperCase().replace(/[.,'’&()/\\-]/g, ' ').replace(/\\s+/g, ' ').trim(); const companies = Object.values($json ?? {}); const normalize = (value) => String(value ?? '').toUpperCase().replace(/[.,'’&()/\\-]/g, ' ').replace(/\\s+/g, ' ').trim(); const scored = companies.map((company) => ({ company, score: normalize(company.title).includes(searchName) || searchName.includes(normalize(company.title)) ? 1 : 0, })).filter((entry) => entry.score > 0); const match = scored[0]?.company ?? null; return [{ success: true, data: { company_name: match?.title ?? null, registration_number: match?.cik_str ? `CIK ${String(match.cik_str).padStart(10, '0')}` : null, source_name: 'SEC EDGAR' } }];"
      },
      "id": "format_credit_response",
      "name": "Format Credit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond_credit",
      "name": "Respond Credit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 240]
    }
  ],
  "connections": {
    "Credit Webhook": {
      "main": [[{ "node": "SEC Ticker Index", "type": "main", "index": 0 }]]
    },
    "SEC Ticker Index": {
      "main": [[{ "node": "Format Credit Response", "type": "main", "index": 0 }]]
    },
    "Format Credit Response": {
      "main": [[{ "node": "Respond Credit", "type": "main", "index": 0 }]]
    }
  }
}
