workflows/evidence_notarization.workflow.json
{
  "name": "TradeGuard_Evidence_Notarization",
  "nodes": [
    {
      "parameters": {
        "path": "tradeguard-evidence-notarization",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook_evidence",
      "name": "Evidence Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NOTARIZATION_API_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"evidence_id\":\"{{$json.body.evidence_id}}\",\"file_hash\":\"{{$json.body.file_hash}}\",\"filename\":\"{{$json.body.filename}}\",\"mime_type\":\"{{$json.body.mime_type}}\",\"file_content_base64\":\"{{$json.body.file_content_base64}}\"}"
      },
      "id": "call_notarization_api",
      "name": "Call Notarization API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TRADEGUARD_API_BASE_URL}}/v1/evidence/{{$node[\"Evidence Webhook\"].json.body.evidence_id}}/notarization-result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { provider_name: $json.provider_name || 'ConfiguredNotarizationProvider', provider_certificate_id: $json.certificate_id || $json.id || undefined, certificate_url: $json.certificate_url || $json.url || undefined, status: $json.status || 'COMPLETED', provider_payload: $json } }}"
      },
      "id": "persist_notarization_result",
      "name": "Persist Notarization Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond_notarization",
      "name": "Respond Notarization",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 240]
    }
  ],
  "connections": {
    "Evidence Webhook": {
      "main": [[{ "node": "Call Notarization API", "type": "main", "index": 0 }]]
    },
    "Call Notarization API": {
      "main": [[{ "node": "Persist Notarization Result", "type": "main", "index": 0 }]]
    },
    "Persist Notarization Result": {
      "main": [[{ "node": "Respond Notarization", "type": "main", "index": 0 }]]
    }
  }
}
